@import "tailwindcss";

@font-face {
  font-family: "mainFont";
  src: url("/fonts/IranSansX(Pro)/Farsi numerals/IRANSansXFaNum-Medium.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "mainFont", sans-serif;
}
